
@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
    background-color:lavender;
}

h1{
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 60px;
  background-color: pink;
  padding: 10px;
}

 .boxes{
  position: center;
  margin: 0 auto;/*gives the same space to left to right*/
  width: 630px; /* 3 boxes can fit into this width*/
}


.box {
  font-size: 60pt;
  text-align: center;
  display: inline-block;
  width: 196px;
  height: 190px;
  border: 5px solid white;
  line-height: 200px;
  overflow: hidden;
}








/*This from Leila
/* .table{

  margin: auto;
}
td{
  background-color: lavender;
  width:200px;
  height: 200px;
}

h1 {
  text-align: center;
} */
